<h1>Popular Albums</h1>

<div class="row">
	<div class="col-md-6">
	<form role="form" ng-submit="searchMusic(searchTerm)">
		<div class="form-group">
			<label>Search Any Artist or Band to See Their 10 Most Popular Albums Based on Play Count</label>
			<input type="text" name="search" class="form-control" ng-model="searchTerm" placeholder="Band or Artist...">
		</div>
	</form>
	</div>
</div>

<div>
	<h2> Results for: <span>{{ name }}</span></h2>
	<div d3-bars data="d3BarChartData"></div>
</div>
