body {
	font-family: 'Lato', sans-serif;
	background-color: gray;
}

svg {
  margin-left: 2.5%;
}

circle {
  fill: white;
  fill-opacity: .75;
  stroke: rgb(31, 119, 180);
  /*stroke-width: 1px;*/
}

